// Bootstrap
$primary: #2B2B2B;

:root {
    --primary: #098E95;
    --primary-dark: #0F5A60;
    --primary-light: #CEFDEF;
    --secondary: #9F6EDE; 
    --secondary-dark: #633594;
    --secondary-light: #E7DBF9;
    --success: #85C121;
    --success-dark: #3F5D17;
    --success-light: #E3F9CE;
    --danger: #FE5448;
    --danger-dark: #A41A10;
    --danger-light: #FFE2E0;
    --warning: #EBBE34;
    --warning-dark: #BC7D12;
    --warning-light: #FAF3C7;
    --info: #FF7E33;
    --info-dark: #C62F08;
    --info-light: #FFE9D4;
    --light: #EBEBEB;
    --light-dark: #CCCCCC;
    --light-lighter: #F5F5F5;
    --dark: #2B2B2B;
    --dark-darker: #141414;
    --dark-light: #858585;
    --general-white: #FFFFFF;
}